@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

* {
	margin: 0;
	padding: 0;
	font-family: 'Shadows Into Light', cursive;
}

body {
	text-align: center;
	background: url(http://i01.i.aliimg.com/wsphoto/v1/1987096493_1/NEW-SY08C-children-s-font-b-toys-b-font-back-font-b-construction-b-font-font.jpg)no-repeat right bottom;
background-size: 26%;
}

h1 {
	font-size: 3em;

}

h2.subtitle {
	font-weight: 100;
	padding-top: 1em;
}

a {
	color: #000;
}

#container {
	margin: auto;
	margin-top: 4.1em;
	width: 1008px;
	color: #000;
}


/*social*/

ul.social {
	display: inline-block;
	list-style: none;
	margin: 14px;
}

ul.social li {
	display: inline-block;
	padding: 10px;
}

ul.social li a {
	font-size: 2.5em;
	opacity: 0.6;
	-webkit-transition: -webkit-transform 1.5s ease-in; 
	-moz-transition: -moz-transform 1.5s ease-in; 
	-o-transition: -o-transform 1.5s ease-in;
	transition: transform 1.5s ease-in;
}


ul.social li a:hover{
	transition: all .3s ease-in;
	opacity: 1;
	-webkit-transform: rotate(360deg); 
	-moz-transform: rotate(360deg); 
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

ul.social li:nth-child(1) a:hover {
	color: #FF6600;
}

ul.social li:nth-child(2) a:hover {
	color: #4099ff;
}

ul.social li:nth-child(3) a:hover {
	color: #3B5998;
	
}
/*-----------------------*/
audio {
	opacity: 0.6;
}

audio:hover {
	opacity: 1;
}
#reach {
    position:relative;
}
